@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* altura do header */
}
@keyframes efeitFot {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in-out 0.2s;

  [data-aos] {
    transition: all 1.5s ease;
  }
}

html {
  scroll-behavior: smooth;
  /* suaviza a rolagem ao clicar nos links de navegação */

  .typed-cursor {
    /*tirar o cursor que ficava aparecendo em baixo do Desen.web*/
    opacity: 0;
  }
}

/* Corpo da página */
body {
  background-color: #ccc;
}

/* Container principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Barra de navegação */
header {
  position: fixed;
  /*mantem a barra fixa no topo*/
  top: 0;
  /*encosta o header no topo da janela (0px do topo)*/
  left: 0;
  /*encosta o header na esquerda da janela (0px da esquerda).*/
  width: 100%;
  z-index: 9999;
  /*mantem o header na frente de outros elementos*/
  background-color: #f5f5f5;
  box-shadow: 0px 3px 10px #464646;
  border-bottom: 1px solid #ccc;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #000000;
}

.nav-list {
  display: flex;
  align-items: center;
}

/**/
.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #000000;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0099cc;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/**/

.nav-item {
  margin: 0 15px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/* Seção principal */
.principal > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 580px;
  margin-top: 80px;
  background-color: rgba(216, 52, 52, 0);
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

#MinhaProf {
  transition: opacity 0.5s ease-in-out;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.fotoPrincipal img {
  margin-top: 20px;
  border-radius: 30%;
  max-width: 300px;
  box-shadow: 0 0 20px rgba(3, 155, 160, 0.3);
  border: 4px solid #868686;
  height: auto;
  display: block;
  animation: efeitFot 5s ease-in-out infinite;
}

/* Informações pessoais */
.informPessoais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.principal {
  border-bottom: 1px solid #ccc;
}

.principal h1 {
  color: #ffffff;
  text-shadow: 2px 2px 3px #000000;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: 3px;
}

#Meta {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.principal p {
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.SobreMim {
  align-items: center;
  font-size: 18px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 80px;
  gap: 10px;
  color: #545454;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.SobreMim h2 {
  padding: 30px;
  text-shadow: 1px 1px 2px #000000;
  color: #7a7a7a;
  font-weight: bold;
}

.sobremim-container {
  display: flex;
  flex-direction: column;
  /* Mantém o título acima */
  gap: 20px;
}

.sobremim-content {
  display: flex;
  flex-direction: row;
  /* coloca lado a lado */
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  /* espaço entre texto e vídeo */
  flex-wrap: wrap;
  /* se a tela for pequena, quebra para baixo */
}

.sobremim-div1 {
  flex: 1;
  color: #333333;

  /* texto ocupa mais espaço */
  p {
    font-size: 18px;
  }
}

.video {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Agora empilha texto e vídeo */
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  /* espaço entre o texto e o vídeo */
}

.video-text {
  font-size: 1rem;
  font-weight: 500;
  color: #575757;
}

.video video {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

main {
  border-bottom: 1px solid #ccc;
}

/* Projetos */
.Projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b9b9b9;
  padding-top: 80px;
  border-bottom: 1px solid #ccc;
}

.Projetos h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 18px;
  text-shadow: 1px 1px 2px #000000;
  color: #7a7a7a;
  font-size: 40px;
  font-weight: 500;
}

.ContainerProjetos {
  display: flex;
  flex-wrap: wrap;
  /* permite que os projetos quebrem para a próxima linha em telas menores */
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
  margin: 0 20px;
}

/* Botão */
.botao {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: #00051d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.botao:hover {
  background-color: #0099cc;
  text-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.span-lateral-concluido {
  font-size: 12px;
  position: absolute;
  color: #44c976;
  background: #22c55e33;
  padding: 5px 10px;
  border-radius: 20px;
  border: #2ec462;
}

/* Projetos com imagem de fundo */
.projeto1,
.projeto2,
.projeto3,
.projeto4,
.projeto5,
.projeto6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  width: 380px;
  height: 350px;
  padding: 10px;

  background-color: rgb(255, 255, 255);

  border-radius: 10px;
}

.projeto-card-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.projeto-info {
  text-align: center;
  background-color: rgb(255, 255, 255);

  border-radius: 5px;

  p {
    color: #646464;
    padding: 5px;
  }
}

.projeto-info h3 {
  color: #000000;
  padding: 10px 0 5px 0;
}

.projeto1:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 12px #000308;
}

.projeto2:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 12px #000308;
}

.projeto3:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 12px #000308;
}

.projeto4:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 12px #000308;
}

.projeto5:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 12px #000308;
}

.projeto6:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 12px #000308;
}

/* Contato */

.ContainerContatoRapido {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 40px 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.redes {
  display: flex;

  gap: 50px;
  padding: 10px 20px;
  align-items: center;
  transition: 0.2s;
}

.github:hover {
  transform: scale(1.1);
}

.instagram:hover {
  transform: scale(1.1);
}

.email:hover {
  transform: scale(1.1);
}

.linkedin:hover {
  transform: scale(1.1);
}

.sugestao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  background-color: #ffffff;
}

.sugestao img {
  background-color: #00bbff;
}

.sugestao-cliente button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  color: #000;
}

.sugestao-cliente button:hover {
  background-color: #0099cc;
  color: floralwhite;
}

.sugestao-cliente input {
  padding: 10px;
}

.paragrafo h3 {
  color: #000000;
  padding: 20px;
}

.dicas {
  width: auto;
  height: 50px;
  width: 300px;
  border-radius: 10px;
}

#mudar-tema {
  background-color: #000000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#mudar-tema img {
  width: 24px;
  height: 24px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  box-shadow: 0px 3px 10px #464646;
  padding: 10px;
  font-size: 14px;
  color: #000000;
}

@keyframes pulseWpp {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(4, 168, 59, 0.55);
  }

  70% {
    transform: scale(1.03);
    box-shadow: 0 0 0 16px rgba(0, 187, 255, 0);
    background-color: #2ec462;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 187, 255, 0);
  }
}

.botao-wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  margin-right: 50px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #fff;
  /* fundo do círculo */
  display: flex;
  align-items: center;
  justify-content: center;

  animation: pulseWpp 2.2s infinite;
}

/* Estilos/classe para o modo escuro */
.dark-mode {
  background-color: #00051d;
  color: #ffffff;

  .principal p {
    color: #d3d3d3;
  }

  /* abaixo são do header*/
  header {
    background-color: #303030;
  }

  .logo h1 {
    color: #ffffff;
  }
  .fotoPrincipal img {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }

  .nav-link {
    color: #ffffff;
  }

  #mudar-tema {
    background-color: #d6d6d6;
  }

  /*abaixo secao sobremim*/
  .SobreMim {
    background-color: #303030;
    color: #d3d3d3;
  }

  .sobremim-div1 p {
    color: #d3d3d3;
  }

  .video-text {
    color: #d3d3d3;
  }

  .sugestao {
    background-color: #303030;
  }

  .sugestao h3 {
    color: #d3d3d3;
  }

  .ContainerContatoRapido {
    background-color: #303030;
    color: #d3d3d3;
  }

  .projeto-info {
    background-color: #303030;
  }

  .projeto1,
  .projeto2,
  .projeto3,
  .projeto4,
  .projeto5,
  .projeto6 {
    background-color: #303030;
  }

  .projeto1:hover,
  .projeto2:hover,
  .projeto3:hover,
  .projeto4:hover,
  .projeto5:hover,
  .projeto6:hover {
    box-shadow: 0px 4px 12px rgba(1, 219, 235, 0.432);
  }

  .projeto-info h3 {
    color: #ffffff;
  }

  footer {
    background-color: #000000;
    color: #d3d3d3;
  }
  .btnSubir {
    color: white;
  }
  .skill-card {
    background-color: #303030;
    border: 1px solid #ffffff;
  }
}

/**/

.container-habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-habilidades h2 {
  padding: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  width: 100%;
}

.skill-card {
  border: 1px solid #000000;
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.skill-card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
.btnSubir {
  position: fixed;
  bottom: 20px;
  right: 120px;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  margin-right: 50px;
}
#topo {
  scroll-margin-top: 0;
}

@media (max-width: 480px) {
  header .logo {
    color: brown;
    padding-left: 20px;
  }

  .principal > .container {
    flex-direction: column;
    padding-top: 20px;

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 18px;
    }

    img {
      width: 200px;
      margin-bottom: 50px;
    }
  }

  .informPessoais p {
    font-size: 12px;
    color: #aaaaaa;
  }

  .SobreMim {
    padding-top: 5px;
  }

  .sobremim-div1 {
    p {
      font-size: 14px;
      margin-top: -15px;
    }
  }

  .video {
    p {
      font-size: 14px;
    }
  }

  .sobremim-content {
    flex-direction: column;
  }

  .paragrafo h3 {
    font-size: 16px;
  }

  .sugestao {
    height: auto;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .sugestao-cliente button {
    width: 100%;
  }

  .dicas {
    width: 100%;
  }

  .container.sobremim-container {
    h2 {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
    }
  }
}

/* Menu Hamburguer */
@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .login-button button {
    width: 100%;
  }

  .open {
    display: block;
  }
}
